// Body Styles
body,
html,
.body {
  background: #f3f3f3;

}

.container.header {
  background: #e8f1f4;
  h4 {
    color: #464648;
  }
}

.description {
  color: #464648;
}

.separator {
  border: 0;
  height: 2px;

  background-color: #a3a3a3;
}

.header-description {
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  font-style: italic;
  font-size: 18px;
}

.vertical-line {
  border: 0;
  height: 130px;
  width: 1px;
  background-color: #a3a3a3;
}

.content-img > img{
  height: 200px;
  padding-left: 16px;
}

.footer-contact > a{
   font-family: 'MS Sans Serif', Geneva, sans-serif;
   font-style: italic;
   font-size: 18px;
 }

.footer-contact {
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  font-style: italic;
  font-size: 18px;
}

.container-quote {
  font-size: 41px;
  color: #464648
}

.container-quote-author {
  font-family: 'Lucida Console', Monaco, monospace;
  font-style: italic;
  color: #929292;
  padding-right: 50px;
}

.contact-text {
  color: #464648
}

.separator-hidden {
  display: none;
  border: 0;
  height: 2px;

  background-color: #a3a3a3;
}

//media-queries


@media only screen and (max-width: 699px) {
  .vertical-line {
    display: none;
  }

  .description {
    text-align: center;
  }

  .header-description {
    text-align: center;
  }

  .separator-hidden {
    display: block;
  }

  .content-img {
    padding: 5px;
  }
}



